PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_USER=
DB_PASSWORD=
DB_NAME=postgres
# On macOS Homebrew, if socket connection is needed, use:
# DB_HOST=/tmp
FRONTEND_BASE_URL=http://localhost:5173

# SMTP mail configuration
# Dev option: https://ethereal.email/create
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM_EMAIL=noreply@matcha.local
